.header {
    position: relative;
    overflow: hidden;

    .mainWrapper {
        position: relative;
        z-index: var(--z-index-top);
        background: var(--bg-header-color);
        box-shadow: var(--box-shadow);
        height: var(--menu-height);

        .main {
            max-width: var(--main-max-width);
            padding: var(--main-padding);
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                .logoFont {
                    font-size: 24px;
                    color: transparent;
                    background: linear-gradient(to left, rgba(36, 41, 38, 1), rgba(114, 125, 130, 1), rgba(128, 128, 128, 1));
                    // TODO: postcss 处理
                    background-clip: text;
                    -webkit-background-clip: text;
                }
            }

            .menu {
                flex: 1;

                .menuUl {
                    display: flex;
                    justify-content: space-around;

                    .menuItem {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &:hover {
                            color: var(--primary-color);
                        }

                        &.menuItemSel {
                            color: var(--primary-color);
                            position: relative;

                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                bottom: -10px;

                                width: 100%;
                                height: 5px;
                                background-color: var(--primary-color);
                            }
                        }
                    }

                }
            }
        }

    }


    .banner {
        position: absolute;
        top: 0;
        z-index: var(--z-index-bottom);
        width: 100%;
        height: var(--banner-height);
        background: conic-gradient(from 90deg at 50% 50%, rgba(255, 235, 59, 100) 13.84%, rgba(165, 214, 63, 1) 43.33%, rgba(67, 207, 124, 87.56) 67.48%, rgba(0, 186, 173, 1) 100%);
    }

}