:root {
  --menu-height: 75px;
  --banner-height: 404px;
  --main-max-width: 1220px;
  --main-padding: 0 10px;
  --border-radius: 10px;
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  --primary-color: #68bbe3;
  --danger-color: #be5254;
  --warning-color: #fbc58c;
  --success-color: #52c41a;
  --bg-header-color: rgba(255, 255, 255, 0.8);
  --bg-grey-color: #f0f2f5;
  --bg-card-color: #fff;
  --bg-popper-color: #fff;
  --font-color: #000;
  --font-grey-color: #8A919F;

  --z-index-bottom: 1;
  --z-index-middle: 50;
  --z-index-top-2: 98; // 普通最上层元素
  --z-index-top-1: 99; // popper,tooltip,悬浮按钮
  --z-index-top: 100; // 遮罩最高层

  --transition-time-fast: .3s;
  --transition-time-middle: .5s;
  --transition-time-slow: .8s;
}

@media (prefers-color-scheme: dark) {
  :root {}

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-grey-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: "iconfont";
  src: url('/font/iconfont.woff2?t=1689475551343') format('woff2'),
    url('/font/iconfont.woff?t=1689475551343') format('woff'),
    url('/font/iconfont.ttf?t=1689475551343') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e600";
}

.icon-moon:before {
  content: "\e601";
}

.icon-collapse-up:before {
  content: "\e602";
}

.icon-collapse-left:before {
  content: "\e603";
}

.icon-collapse-right:before {
  content: "\e604";
}

.icon-thumbs-down:before {
  content: "\e605";
}

.icon-thumbs-up:before {
  content: "\e606";
}

.icon-eye:before {
  content: "\e607";
}

.icon-expand:before {
  content: "\e608";
}

.icon-edit-square:before {
  content: "\e609";
}

.icon-hamburger-menu:before {
  content: "\e60a";
}