@import "styles/constant.scss";
.cmp_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $semi-transparent-color;
  border-radius: $border-radius;
  padding: $padding;
  &_closeBtn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
  }
}
