.articleWrapper {
  margin: 30px auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  position: relative;

  .h2 {
    font-size: 18px;
  }
  .h3 {
    margin: 10px 10px 0;
    font-size: 16px;
    color: var(--font-grey-color);
  }

  .article {
    max-width: var(--markdown-max-width);
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 0px 40px 30px;
    margin: 0 10px;
    background-color: var(--bg-card-color);
  }
}
